<html>
  <body>
    <div class="container">
     <h1>Customers</h1>
      <%= link_to "New Customer", new_customer_path %>
      <table border=1 class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <% @customers.each do |customer|%>
          <tr>
            <td><%= customer.name%></td>
            <td> <%= customer.description%></td>
            <td> <%= link_to "Show", customer%></td>
            <td> <%= link_to "Edit", edit_customer_path(customer)%></td>
            <td><%= link_to "Delete" , customer_path(customer) , data:{
                turbo_method: :delete,
                turbo_confirm: "Are You Sure ?"
            } %></td>
          </tr>
          <%end%>
        </thead>
      </table>
    </div> 
  </body>
</html>
